.item img{
    height: 100%;
    width: 100%;
}

#Carousel {
    height: 200px;
    width: 560px;
}

.carousel-control.left, .carousel-control.right{
    width: 200px;
}

.carousel-indicators li {
    display: none;
}

.carousel-caption{
    padding: 0px;
}
.carousel-caption a, .carousel-caption a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.contacts {
    float: left;
    padding-left:10px;
    padding-right: 10px;
    width:100px;
}

.contacts img {
    width: 50px;
    height: 50px;
    margin-left:14px;
}

.contacts a+p {
    text-align: center;
    margin-top:5px;
}

.right-top, .right-middle{
    border-bottom: double #e67c7c;
    min-height:120px;
    margin-bottom: 20px;
}

.left-top h4, .left-bottom h4, .right-top h4, .right-middle h4, .right-bottom h4 {
    color: #e67c7c;
}

.left-top h4, .left-bottom h4 {
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: solid #d1c4c9 thin;
}

.left-top {
    padding-bottom: 30px;
}


.contacts.middle {
    border-left: dashed #d1c4c9 thin;
    border-right:dashed #d1c4c9 thin;
}