.navbar.navbar-default {
    background-color: #e46565;
    border-color: #e46565;
    font-family: microsoft YaHei;
}

.navbar.navbar-default a {
    color: white;
}

.navbar.navbar-default a:hover {
    color: #f2dede;
}

.nav.navbar-nav.navbar-left a {
    color: white;
}

.nav.navbar-nav.navbar-left a:hover {
    color: #f2dede;
}

.nav.navbar-nav.navbar-right a {
    color: white;
}

.nav.navbar-nav.navbar-right a:hover {
    color: #f2dede;
}

.btn.btn-default {
    color:#e46565;
}

